<!-- This is an HTML template, other files dictate what get populated within this template -->
  <!-- embedded CSS -->
  <p>
    I just wanted to say <em style="color: green; font-size: 2em;"><%= greeting %>, <%= name %></em>.
  </p>
