<!-- This is an HTML template, other files dictate what get populated within this template -->

<html>
  <head>
    <title>My Hello_App</title>
  </head>

<body>

  <!-- embedded CSS -->
  <p>
    I just wanted to say <em style="color: green; font-size: 2em;"><%= greeting %>, <%= name %></em>.
  </p>


</body>
</html>
