<!-- This is an HTML template. Sinatra will fill in the holes. -->
<!-- This looks like abbreviated html because it goes into the 'wrapper' (layout.erb) -->
<p>
  I just wanted to say <em style="color: green; font-size: 2em;">
    <!-- prints the variables: greeting and name -->
  <%= greeting %>, <%=name %></em>
</p>
