<!-- This is an HTML template. Sinatra will fill in the holes. -->

<html>
  <head>
    <title>My Game</title>
  </head>

  <body>

    <p>
      I just wanted to say <em style="color: green; font-size: 2em;"><%= greeting %></em>
    </p>

  </body>
</html>
