<!-- This layout template wraps all the other views in the html that is similar between them (so don't need to repeat in those files) -->

<html>
<head>
  <title>My Sinatra App</title>
</head>

<body>

  <%= yield %>

</body>
</html>
